<!DOCTYPE html>
<html>
    <head>
        <title>Stock Analysis</title>
        <link rel="stylesheet" type="text/css" href="../css/main.css"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500&display=swap" rel="stylesheet"> 
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
        <header>
            <h1>STX</h1>
            <nav>
                <a href="http://localhost:3000">Home</a>
                <a href="http://localhost:3000/search">Search</a>
                <a href="#">More</a>
            </nav>
            <input type="text" id="searchBox" name="searchText"/>
            <input type="button" id="submit" value="Go" onclick="redir()"/>
        </header>
        <div id="app">
            <div id="output"></div>
        </div>
        <footer></footer>
        <script>
        function redir(){
            var search = document.getElementById("searchBox").value;
            
            var url = "http://localhost:3000/search/";
        
            var location = url + search;
        
            window.location.href=location;
        }
        </script>
    </body>
</html>